@model LocadoraDeVeiculos.Models.Veiculo
@{
    ViewBag.Title = "Index";
}

<h2>@Model.Ano</h2>
<h2>@Model.Id</h2>
<h2>@Model.Marca</h2>
<h2>@Model.Modelo</h2>
<h2>@Model.Placa</h2>
<h2>@Model.ValorDiaria</h2>
