@model IEnumerable<LocadoraDeVeiculos.Models.Cliente>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>


@if (Model.Any())
{

    <p>
        @Html.ActionLink("Novo Cliente", "New", null, new { @class = "btn btn-primary" })
    </p>

    <table id="clientes" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>CPF</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var cliente in Model)
            {
                <tr>
                    <th scope="row">@cliente.Id</th>
                    <td>@cliente.Nome</td>
                    <td>@cliente.Idade</td>
                    <td>@cliente.CPF</td>
                    
                </tr>
            }

        </tbody>
    </table>
   
}
else
{
    <p>
        @Html.ActionLink("Novo Cliente", "New", null, new { @class = "btn btn-primary" })
    </p>
    <p>Não há nenhum cliente cadastrado!</p>
}



@section scripts
{
    <script>
        $(document).ready(function() {
            $("#clientes").on("click",".js-delete",
                function () {
                    var button = $(this);
                    bootbox.confirm("Tem certeza que quer remover este cliente?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/clientes/delete/" + button.attr("data-cliente-id"),
                                    method: "GET",
                                    success: function() {
                                        button.parents("tr").remove();
                                    }
                                });
                            }
                        });
                    /*if (confirm("Tem certeza que quer remover este cliente?")) {
                        $.ajax({
                            url: "/customers/delete/" + button.attr("data-customer-id"),
                            method: "GET",
                            success: function() {
                                button.parents("tr").remove();
                            }
                        });
                    }*/
                });
        });
    </script>
}