@model LocadoraDeVeiculos.Models.Veiculo
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Id: @Model.Id</h2>
<h2>Marca: @Model.Marca</h2>
<h2>Modelo: @Model.Modelo</h2>
<h2>Ano: @Model.Ano</h2>
<h2>Placa: @Model.Placa</h2>
<h2>Valor Diária: @Model.ValorDiaria</h2>
