@model IEnumerable<LocadoraDeVeiculos.Models.Veiculo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Veículos</h2>


@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Modelo</th>
                <th>Marca</th>
                <th>Placa</th>
                <th>Ano</th>
                <th>Valor Diária</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model)
            {
                <tr>
                    <th scope="row">@cliente.Id</th>
                    <td>@cliente.Modelo</td>
                    <td>@cliente.Marca</td>
                    <td>@cliente.Placa</td>
                    <td>@cliente.Ano</td>
                    <td>@cliente.ValorDiaria</td>
                    <td>
                        @Html.ActionLink("Ver", "Details", new { cliente.Id }, new { @class = "btn btn-success btn-xs" })
                        @Html.ActionLink("Editar", "Edit", new { cliente.Id }, new { @class = "btn btn-warning btn-xs" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não há nenhum veículo cadastrado.</p>
}