@model LocadoraDeVeiculos.Models.Veiculo
@{
    ViewBag.Title = "VeiculoForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm("Save", "Veiculos"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Marca)
        @Html.TextBoxFor(m => m.Marca, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Marca)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Modelo)
        @Html.TextBoxFor(m => m.Modelo, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Modelo)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Placa)
        @Html.TextBoxFor(m => m.Placa, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Placa)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Ano)
        @Html.TextBoxFor(m => m.Ano, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Ano)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ValorDiaria)
        @Html.TextBoxFor(m => m.ValorDiaria, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ValorDiaria)
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
}

@section scripts
{
    @Scripts.Render("~bundles/jqueryval")

}