@model IEnumerable<LocadoraDeVeiculos.Models.Vendedor>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vendedores</h2>


@if (Model.Any())
{

    <p>
        @Html.ActionLink("Novo Vendedor", "New", null, new { @class = "btn btn-primary" })
    </p>

    <table id="vendedores" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Cadastro</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var vendedor in Model)
            {
                <tr>
                    <th scope="row">@vendedor.Id</th>
                    <td>@vendedor.Nome</td>
                    <td>@vendedor.Cadastro</td>
                    
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <p>
        @Html.ActionLink("Novo Vendedor", "New", null, new { @class = "btn btn-primary" })
    </p>
    <p>Não há nenhum vendedor cadastrado!</p>
}


@section scripts
{
    <script>
        $(document).ready(function() {
            $("#vendedores").on("click",".js-delete",
                function () {
                    var button = $(this);
                    bootbox.confirm("Tem certeza que quer remover este cliente?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/vendedores/delete/" + button.attr("data-vendedor-id"),
                                    method: "GET",
                                    success: function() {
                                        button.parents("tr").remove();
                                    }
                                });
                            }
                        });
                    /*if (confirm("Tem certeza que quer remover este cliente?")) {
                        $.ajax({
                            url: "/customers/delete/" + button.attr("data-customer-id"),
                            method: "GET",
                            success: function() {
                                button.parents("tr").remove();
                            }
                        });
                    }*/
                });
        });
    </script>
}