@model IEnumerable<LocadoraDeVeiculos.Models.Locacao>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Locações</h2>


@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Veiculo</th>
                <th>Data de Locação</th>
                <th>Data de Devolução</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model)
            {
                <tr>
                    <th scope="row">@cliente.Id</th>
                    <td>@cliente.Veiculo</td>
                    <td>@cliente.DataLocacao</td>
                    <td>@cliente.DataDevolucao</td>
                    <td>
                        @Html.ActionLink("Ver", "Details", new { cliente.Id }, new { @class = "btn btn-success btn-xs" })
                        @Html.ActionLink("Editar", "Edit", new { cliente.Id }, new { @class = "btn btn-warning btn-xs" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não há nenhuma locação.</p>
}