@model IEnumerable<LocadoraDeVeiculos.Models.Locacao>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Locações</h2>


@if (Model.Any())
{

    <p>
        @Html.ActionLink("Nova Locação", "New", null, new { @class = "btn btn-primary" })
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Veiculo</th>
                <th>Data de Locação</th>
                <th>Data de Devolução</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model)
            {
                <tr>
                    <th scope="row">@cliente.Id</th>
                    <td>@cliente.Veiculo</td>
                    <td>@cliente.DataLocacao</td>
                    <td>
                        @Html.ActionLink("Ver", "Details", new { cliente.Id }, new { @class = "btn btn-success btn-xs" })
                        @Html.ActionLink("Editar", "Edit", new { cliente.Id }, new { @class = "btn btn-warning btn-xs" })
                        <button data-cliente-id="@cliente.Id" class="btn btn-danger btn-xs js-delete"> Remover </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
}
else
{
    <p>
        @Html.ActionLink("Nova Locação", "New", null, new { @class = "btn btn-primary" })
    </p>
    <p>Não há nenhuma locação.</p>
}

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#locacoes").on("click",".js-delete",
                function () {
                    var button = $(this);
                    bootbox.confirm("Tem certeza que quer remover esta locação?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/locacoes/delete/" + button.attr("data-locacao-id"),
                                    method: "GET",
                                    success: function() {
                                        button.parents("tr").remove();
                                    }
                                });
                            }
                        });
                    /*if (confirm("Tem certeza que quer remover este cliente?")) {
                        $.ajax({
                            url: "/customers/delete/" + button.attr("data-customer-id"),
                            method: "GET",
                            success: function() {
                                button.parents("tr").remove();
                            }
                        });
                    }*/
                });
        });
    </script>
}